.wine-image {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}
.ptag {
  text-decoration: underline;
  color: lightsalmon;

}

.jumboTitle {
background-color: white;
color: darkslategray;
border: black 1px solid;
width: 50%;
align-content: center;
}

